<div class="new-msg-form">
    {{input type="text" placeholder="Title" value=title class="title-input"}}
    {{input type="text" placeholder="Body" value=body class="body-input"}}
    <button {{action 'addPage'}} class="submit">Submit</button>
</div>
