<h2>New Page</h2>

<div class="new-msg-form">

    <form {{action 'addPage' on='submit'}}>

      <div class="form-group">
        <label for="inputTitle">Title:</label>
        {{input id="inputTitle" type="text" value=title class="form-control" }}
      </div>

      <div class="form-group">
        <label for="inputBody">Body:</label>
        {{textarea id="inputBody" class="form-control" rows="10" value=body style="width:100%;" }}
      </div>


      {{input type="submit" class="btn btn-primary" value="Create Page"}}
    </form>

</div>
